[submodule "Anime-Dimension-api"]
	path = subModules/Anime-Dimension-api
	url = https://github.com/yggdrasil-au/Anime-Dimension-api.git

[submodule "Anime-Dimension-Database-Orchestrator"]
	path = subModules/Anime-Dimension-Database-Orchestrator
	url = https://github.com/yggdrasil-au/Anime-Dimension-Database-Orchestrator.git
