---
// Capacitor/source/html/components/_HeroBanner.astro
---


<div class="fullbleedContent">
    <h1>Welcome to Anime-Dimension</h1>
    <p>
        <span>Discover anime, </span>
        <span>track your progress, </span>
        <span>get personalized recommendations.</span>
    </p>
</div>
