---
// Capacitor/source/html/components/_InlineBanner.astro
---
                            <h5>Inline Banner</h5>
                            <p class="mb-0">This is a toggleable inline banner within content.</p>
