---
// Capacitor/source/html/components/_HeroBanner.astro
import * as buildconf from "@BuildConfigs/main.js";
---


<div class="fullbleedContent">
    <h1>Welcome to {buildconf.data_json.siteName1}</h1>
    <p>
        <span>Discover anime, </span>
        <span>track your progress, </span>
        <span>get personalized recommendations.</span>
    </p>
</div>
