---

---

<!-- generic 500 error page -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>5000 Internal App Server Error</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/main.min.css">
    </head>
    <body>
        <div class="container">
            <h1>5000 Internal App Server Error</h1>
            <p>Sorry, something went wrong on your end.</p>
        </div>
    </body>
</html>
