/*
|--------------------------------------------------------------------------
| BANNERS
|--------------------------------------------------------------------------
*/

.inline-banner {
    flex-shrink: 0;
    margin-bottom: 1rem;
    background-color: var(--bs-tertiary-bg);
    border: 1px solid var(--bs-border-color);
}

.content-top-banner {
    flex-shrink: 0;
    margin: 1rem;
    background-color: var(--bs-tertiary-bg);
    border: 1px solid var(--bs-border-color);
}

.hero-banner {
    z-index: -1;
}

@media (min-width: 768px) {
    section.fullbleed {
        height: 200px;
        min-height: 200px;
    }
}
@media (max-width: 767px) {
    section.fullbleed {
        height: 200px;
        min-height: 200px;
    }
}
section.fullbleed {
    width: 100vw;
    transform: translateX(-50%);
    margin: 0 0 0 50%;
    padding: 0;
    /* min-height: 240px; */
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sb {
    justify-content: flex-start !important;
    color: #fff;
    text-shadow: 0 0 2px #000, 1px 1px 2px rgba(0, 0, 0, 0.8);
    line-height: 1.4;
    background-size: cover;
    background-position: 50% 100%;
}
@media (min-width: 768px) {
    .sb {
        background-position: 100% 50%;
    }
}
@media (min-width: 1200px) {
    .sb {
        justify-content: center !important;
        background-position: 0 50%;
    }
}
.sb > div {
    padding: 0 1.2em;
    width: 1200px;
    max-width: 70vw;
}
@media (orientation: landscape) {
    .sb > div {
        max-width: 90vw;
    }
}
@media (orientation: landscape) and (min-width: 600px) {
    .sb > div {
        max-width: 60vw;
    }
}
@media (min-width: 768px) {
    .sb > div {
        max-width: 70vw;
    }
}
@media (min-width: 1024px) {
    .sb > div {
        max-width: 1200px;
    }
}
.sb h1 {
    margin-bottom: 0.2em;
    font-family: var(--ap-font-primary) !important;
    font-weight: 700; // bold
    line-height: 1.1;
}
.sb p {
    margin: 0 0 0.4em;
    max-width: 50vw;
}
@media (min-width: 768px) {
    .sb p {
        max-width: 40vw;
    }
}
@media (min-width: 1024px) {
    .sb p {
        max-width: unset;
    }
}
.sb-homepage {
    position: relative;
    background-image: url("/data/images/prod/assets/inc/img/banners/homepage/banner-bg.svg");
    background-size: cover;
    background-position: center;
    background-color: #330033;
    overflow: hidden;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .sb-homepage {
        text-align: center;
    }
}
@media (min-width: 768px) {
    .sb-homepage > div {
        margin-right: 210px;
    }
}
@media (min-width: 768px) {
    .sb-homepage p {
        max-width: unset;
    }
}

// this is the planet graphic overlayed on the right side of the homepage banner
.sb-homepage::after {
    content: "";
    position: absolute;
    max-width: 300px;
    width: 60vw;
    height: 42.9vw;
    right: -7vw;
    bottom: -12vw;
    z-index: -1;
    background: url("/data/images/prod/assets/inc/img/logos/planet-min.svg") no-repeat 50% 50%;
    background-size: contain;
}
@media (max-width: 767px) {
    .sb-homepage::after {
        display: none;
        width: 220px;
        height: 157.3px;
        right: 10vw;
        bottom: -10px;
    }
}
@media (min-width: 768px) {
    .sb-homepage::after {
        width: 220px;
        height: 157.3px;
        right: 10vw;
        bottom: -10px;
    }
}
@media (min-width: 1000px) {
    .sb-homepage::after {
        width: 280px;
        height: 200.2px;
        right: 10vw;
        bottom: -25px;
    }
}
@media (min-width: 1290px) {
    .sb-homepage::after {
        right: 180px;
    }
}


/* Animations */
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.star {
    fill: #b0f;
    animation: twinkle 1s infinite alternate;
}

.cloud-shape {
    fill: #309;
    opacity: .6;
    animation: cloud-move 160s linear infinite;
    animation-delay: -80s;
}

.cloud-slow {
    animation-duration: 400s;
    animation-delay: -200s;
}

.shooting-star {
    fill: #609;
    opacity: .45;
    animation: shoot 8s infinite linear;
}

@keyframes twinkle {
    0% { opacity: .5; }
    30%, 60%, 100% { opacity: 1; }
    80% { opacity: .7; }
}

@keyframes cloud-move {
    0% { transform: translateX(1000px); }
    100% { transform: translateX(-1000px); }
}

@keyframes shoot {
    0% {
        transform: translate(900px, -50px);
        opacity: 0;
    }
    10% { opacity: 1; }
    20% { opacity: 0; }
    100% {
        transform: translate(-300px, 50px);
        opacity: 0;
    }
}

