/*
|--------------------------------------------------------------------------
| FOOTER
|--------------------------------------------------------------------------
*/

.main-footer {
    background-color: var(--bs-secondary-bg);
}
.footer-copyright {
    font-size: 0.7em;
}

