/*
|--------------------------------------------------------------------------
| NAVIGATION ITEM VISIBILITY HELPERS
|--------------------------------------------------------------------------
*/

// Default state (Assumes Mobile)
.nav-item-tablet-up {
    display: none;
}

.nav-item-mobile-only {
    display: list-item;
}

// Tablet State Overrides
@include nav-state('tablet') {
    .nav-item-mobile-only {
        display: none;
    }
    .nav-item-tablet-up {
        display: list-item;
    }
}

// Desktop State Overrides
@include nav-state('desktop') {
    .nav-item-mobile-only {
        display: none;
    }
    .nav-item-tablet-up {
        display: list-item;
    }
}

