---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="refresh" content="0; url=./all.html" />

        <script>
            // redirect to the offline all anime page
            window.location.href = './all.html';
        </script>
    </head>
    <body>

    </body>
</html>