---
// Capacitor/source/html/components/_ContentTopBanner.astro
---

                    <h5>Content Top Banner</h5>
                    <p class="mb-0">This is a toggleable content-top banner block.</p>
